<header>
  <h1 class="header-title">Contact Us</h1>
</header>

<%= flash[:notice] %>
<div class= "contact">
  <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
  <div class="row">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "Enter Name", required: "required" %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control", placeholder: "Enter Email", required: "required" %>
    </div>
    <div class="form-group">
      <%= form.label :message %>
      <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", required: "required", rows: 5 %>
    </div>
  </div>
  <%= form.submit "Send", class: "btn btn-outline-dark" %>
  <% end %>
</div>

