<p id="notice"><%= notice %></p>

<table class= "show">
  <thead>
    <tr>
      <td><strong>Name:</strong>
        <%= @product.name %></td>
      <td><strong>Description:</strong>
        <%= @product.description %></td>
      <td><strong>Image url:</strong>
        <%= @product.image_url %>
      <td><%= link_to 'Edit', edit_product_path(@product) %></td>
      <td><%= link_to 'Back', products_path %></td>
    </tr>
  </thead>
</table>
